router:
  - server: 8080 # server port
    redirect:
        - path: "/server_a"
          host: "localhost"
          port: 1234
        - path: "/server_b"
          host: "api.example.com"
          port: 5678
        - path: "/server_c"
          # 當 host 為空時，將使用 localhost
          port: 9012
        - path: "/server_ip"
          host: "192.168.1.100"  # 使用 IP 地址
          port: 9090
  - server: 8081 # server port
    redirect:
        - path: "/server_a"
          host: "localhost"
          port: 1235
        - path: "/server_b"
          host: "api.example.com"
          port: 5679
        - path: "/server_c"
          # 當 host 為空時，將使用 localhost
          port: 9013
        - path: "/server_ip" 
          host: "10.0.0.50"  # 使用 IP 地址
          port: 8888